.user_photo{
 width: 100px;
}

.selectedPage{
    font-weight: bold;
}
.user{
    display: inline-block;
}
body{
    margin-top:20px;
    background:#FAFAFA;
}

.peopleNearby .google-maps{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.peopleNearby .google-maps .map{
    height: 300px;
    width: 100%;
    border: none;
}

.peopleNearby .nearbyUser{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
}

img.profilePhotoLg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.username{
    text-decoration: None;
    text-transform: uppercase;
}
